<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My HR: All Jobs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script type="text/javascript">
function getDetails(){
	var applnId=document.getElementById("jobOfferNum").value;
	document.getElementById("getOfferDetails").action="/jobManager/jobs/"+applnId;
}
</script>
<body>
	<h1>All Jobs!</h1>
	<table>
	<tr><td><p th:text="${allJobs}"></p></td></tr>
	</table>
	<form method="get" id="getOfferDetails">
		<p>Enter Job Offer Id to view details:<input type="text" id="jobOfferNum" required="required"/></p>
	</form>
	<button form="getOfferDetails" type="submit" onclick="getDetails()">Details</button>
	<table>
		<tr height="5"/>
		<tr height="5"/>
		<tr><td><a href="/home">Home!</a></td><td><a href="/jobHome">Jobs Home!</a></td></tr>
	</table>
</body>
</html>